stages:
  - build

default:
  # timeout: 3h # NB doesnt work as of 1/2021
  interruptible: true

variables:
  MAD_NUM_THREADS : "2"
  DOCKER_GPUS : "all"
  TA_TARGETS : "tiledarray examples-tiledarray ta_test check-tiledarray"
  # Debug builds with ScaLAPACK=ON need increased TA_UT_CTEST_TIMEOUT
  TA_CONFIG : >
    CMAKE_BUILD_TYPE=${BUILD_TYPE}
    TA_ASSERT_POLICY=TA_ASSERT_THROW
    TA_UT_CTEST_TIMEOUT=3000
    ${TA_PYTHON}
    ${ENABLE_CUDA}
    ${BLA_VENDOR}
    ${BLA_THREADS}
    ${ENABLE_SCALAPACK}

before_script:
  # NB: below tag parsing is not robust
  - echo "CI_RUNNER_TAGS=$CI_RUNNER_TAGS"
  - CMAKE_BUILD_PARALLEL_LEVEL=$(echo $CI_RUNNER_TAGS | sed -n 's/CMAKE_BUILD_PARALLEL_LEVEL=\([0-9]\+\).*/\1/p')
  - export CMAKE_BUILD_PARALLEL_LEVEL=${CMAKE_BUILD_PARALLEL_LEVEL:=1}
  - echo "CMAKE_BUILD_PARALLEL_LEVEL=$CMAKE_BUILD_PARALLEL_LEVEL"

ubuntu:
  stage: build
  tags: [ docker ]
  timeout: 3h
  image: valeevgroup/${IMAGE}
  variables:
    TA_PYTHON : "TA_PYTHON=ON"
    ENABLE_SCALAPACK : "ENABLE_SCALAPACK=OFF"
  script:
    - ./ci/.build-project
        --build ./build
        --metrics ./build/metrics.txt
        ${TA_CONFIG}
        ${TA_TARGETS}
        MPIEXEC_PREFLAGS='--bind-to;none;--allow-run-as-root'
        ScaLAPACK_LIBRARIES="scalapack-openmpi;lapack;blas"
        #blacs_LIBRARIES=scalapack-openmpi
        #scalapack_LIBRARIES=scalapack-openmpi
        #lapack_LIBRARIES=lapack
  artifacts:
    paths:
    - build/metrics.txt
    - build/CMakeCache.txt
    - build/CMakeFiles/CMakeOutput.log
    - build/CMakeFiles/CMakeError.log
    reports:
      metrics: build/metrics.txt
  parallel:
    matrix:
      - IMAGE : [ "ubuntu:18.04", "ubuntu:20.04" ]
        CXX: [ g++ ]
        BUILD_TYPE : [ "Release" ]
        BLA_VENDOR : [ "BLAS_PREFERENCE_LIST=IntelMKL" ]
        BLA_THREADS : [ "IntelMKL_THREAD_LAYER=tbb" ]
        # ENABLE_SCALAPACK : [ "ENABLE_SCALAPACK=ON", "ENABLE_SCALAPACK=OFF" ]
        TA_PYTHON : [ "TA_PYTHON=OFF" ] # needs to be fixed for MKL
      - IMAGE : [ "ubuntu:18.04", "ubuntu:20.04" ]
        CXX: [ g++, clang++-9 ]
        BUILD_TYPE : [ "Release", "Debug" ]
        ENABLE_SCALAPACK : [ "ENABLE_SCALAPACK=ON", "ENABLE_SCALAPACK=OFF" ]
      - IMAGE : [ "ubuntu:cuda" ]
        CXX: [ g++ ]
        BUILD_TYPE : [ "Release", "Debug" ]
        ENABLE_CUDA : [ "ENABLE_CUDA=ON" ]
        TA_TARGETS : [ "tiledarray examples-tiledarray check_serial-tiledarray" ]
